:root {
  --outline-colour: #000;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.border-text {
  color: white;
  text-shadow: 5px 5px 8px var(--outline-colour),
    -5px 5px 8px var(--outline-colour), -5px -5px 8px var(--outline-colour),
    5px -5px 8px var(--outline-colour);
}

#timer-wrapper,
#setup-text {
  position: fixed;
  right: 0px;
  padding-right: 1.5em;
}

#timer-wrapper {
  top: 0px;
}

#setup-text {
  bottom: 0px;
}

#divider {
  font-size: 8.8em;
}

#textToShow {
  font-size: 128px;
}

#hours,
#minutes,
#seconds {
  font-size: 9em;
}
