:root {
	--shadowStuff: url(#shadowEffect);
	--outlineStuff: url(#outlineEffect);

  --effect-filters: var(--outlineStuff) var(--shadowStuff);
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.border-text {
  color: white;
  filter: var(--effect-filters);
  /* text-shadow: 5px 5px 8px var(--outline-colour),
    -5px 5px 8px var(--outline-colour), -5px -5px 8px var(--outline-colour),
    5px -5px 8px var(--outline-colour); */
}

#timer-wrapper,
#setup-text {
  position: fixed;
  right: 0px;
  padding-right: 1.5em;
}

#timer-wrapper {
  top: 0px;
}

#setup-text {
  bottom: 0px;
}

#divider {
  font-size: 8.8em;
}

#textToShow {
  font-size: 128px;
}

#hours,
#minutes,
#seconds {
  font-size: 9em;
}
